body {
  background-color: black;
  color: white;
}

.m-2 {
    text-align: center;
    white-space: pre-line;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 2px;
}