body {
  background-color: black;
  color: white;
}

.selected {
  width: 30%;
}

.unselected {
  opacity: 0.10;
  width: 30%
}

.stored {
  width: 100%;
}

.error {
  color: red;
}

.copied {
  color: lime;
}

.m-2 {
    text-align: center;
    white-space: pre-line;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.gif {
  padding: 0 2px;
  vertical-align: middle;
}

.stored-gif {
  padding: 0 2px;
  width: 10%;
}